
.welcome {
  margin-top: 15px;
}
.infor-box {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
}
.handleevent {
  margin-top: 100px;
}
.handleevent form {
  width: 400px;
}
.ConditonalRendering {
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}
